<div>
    <h1>OS211</h1>
    <h5>M. Irfan Junaidi</h5>
</div>
<div class="navbar">
    <ul>
        <li class="nav-item"><a href="{{ site.baseurl }}/">HOME</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/W01/">W01</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/TXT/mypubkey.txt">KEY</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/TXT/myrank.txt">RANK</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/TXT/mylog.txt">LOG</a></li>
        <li class="nav-item"><a href="{{ site.urlgithub }}">GitHub</a></li>
    </ul>
</div>
