<div class="home">
    <h1 class="logo">OS211/irfancen</h1>
</div>
<div class="navbar">
    <a href="{{ site.baseurl }}/">HOME</a>
    <div class="dropdown">
        <a id="dropbtn">WEEKLY TASKS</a>
        <div class="dropdown-content">
            <div class="dropdown-content-list">
                <a href="{{ site.baseurl }}/W01/">W01</a>
                <a href="{{ site.baseurl }}/W02/">W02</a>
            </div>
            <div class="dropdown-content-list">
                <a href="{{ site.baseurl }}/W03/">W03</a>
                <a href="{{ site.baseurl }}/W04/">W04</a>
            </div>
            <div class="dropdown-content-list">
                <a href="{{ site.baseurl }}/W05/">W05</a>
                <a href="{{ site.baseurl }}/W06/">W06</a>
            </div>
<!--
            <div class="dropdown-content-list">
                <a href="{{ site.baseurl }}/W07/">W07</a>
                <a href="{{ site.baseurl }}/W08/">W08</a>
            </div>
            <div class="dropdown-content-list">
                <a href="{{ site.baseurl }}/W09/">W09</a>
                <a href="{{ site.baseurl }}/W10/">W10</a>
            </div>
-->
        </div>
    </div>
    <a href="{{ site.baseurl }}/TXT/mypubkey.txt">KEY</a>
    <a href="{{ site.baseurl }}/TXT/myrank.txt">RANK</a>
    <a href="{{ site.baseurl }}/TXT/mylog.txt">LOG</a>
    <a href="{{ site.urlgithub }}">GitHub</a>
</div>
<div class="easter-egg">
    {% include amongus.html %}
</div>
<div>
    <p class="maintain">This project is maintained by <a href="{{ site.mygithub }}">irfancen</a></p>
</div>
