html {
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 100vh;
}

body {
    flex-direction: column;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

.active {
    transition: max-width 0.3s ease;
}

.home {
    text-align: center;
}

.logo {
    margin: 0;
    padding: 20px;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#shade {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
}

.sidebar {
    height: 100%;
    z-index: 1;
    max-width: 300px;
    background-color: #267CB9;
    color: white;
    transition: max-width 0.3s ease;
}

.navbar {
    width: 100%;
}

.nav-item {
    width: 256px!important;
}

.navbar a {
    display: block;
    color: white;
    padding: 12px 30px;
}

.navbar a:hover {
    background-color: #4496CF;
    transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

#dropbtn {
    background-color: #1D6598;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #4496CF;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-list {
    display: inline-flex;
    width: 100%;
}

.dropdown-content-list a {
    width: 100%;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: rgb(91 175 236 / 0.85);
}

.dropdown:hover > .dropdown-content {
    max-height: 300px;
    -webkit-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
}

.maintain {
    width: 256px;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    padding: 0 20px;
}

.maintain a {
    color: #adffe8;
}

.mobile {
    display: none;
    width: 100%;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    background-color: #267CB9;
    color: white;
}

.mlogo {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#sidebtn {
    position: absolute;
    left: 15px;
    padding-top: 2px;
    cursor: pointer;
}

#sidebtn > svg {
    padding: 5px;
    fill: white;
    background-color: rgba(38, 124, 185);
    border-radius: 15px;
}

.content-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#title {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center;
}

#author {
    margin: 0 0 50px 0;
    text-align: center;
}

.content {
    height: fit-content;
    padding: 30px;
    overflow-wrap: break-word;
}

.content > h2 {
    margin: 0;
}

.content > h3 {
    margin: 30px 0 0 0;
}

.content > h3 > a {
    color: #267CB9;
}

.content > h3 > a:hover {
    text-decoration: underline;
}

.content > p {
    margin: 5px 0 0 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgba(91, 175, 236, 0.85);
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #267CB9;
}
::-webkit-scrollbar-thumb:active {
    background: #267CB9;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.easter-egg {
    padding: 50px 30px 0 30px;
}

@media only screen and (max-width: 768px) {
    #shade {
        display: none;
    }
    
    .mobile {
        display: flex;
    }

    .sidebar {
        max-width: 0px;
        position: absolute;
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
