html {
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 100vh;
}

body {
    flex-direction: column;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

.home {
    margin-bottom: 20px;
    text-align: center;
}

.logo {
    margin: 0;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.sidebar {
    display: block;
    width: 300px;
    padding: 20px;
    background-color: #267CB9;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding-left: 10px;
}

.navbar > ul > li > a {
    color: white;
    width: 100%;
    line-height: 40px;
}

.navbar > ul > li > a:hover {
    transition: ease 0.25s;
    padding-left: 12px;
}

.maintain {
    position: absolute;
    bottom: 0;
    font-size: 12px;
}

.maintain a {
    color: #adffe8;
}

.content-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#title {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center;
}

#author {
    margin: 0 0 50px 0;
    text-align: center;
}

.content {
    height: fit-content;
    padding: 30px;
    overflow-wrap: break-word;
}

.content > h2 {
    margin: 0;
}

.content > h3 {
    margin: 30px 0 0 0;
}

.content > h3 > a {
    color: #267CB9;
}

.content > h3 > a:hover {
    text-decoration: underline;
}

.content > p {
    margin: 5px 0 0 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgba(91, 175, 236, 0.85);
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #267CB9;
}
::-webkit-scrollbar-thumb:active {
    background: #267CB9;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
