<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body>
    <div class="container">
        <div id="shade"></div>
        <section class="sidebar" id="sidebar">
            {% include sidebar.html %}
        </section>
	    <section class="content-container">
            <div class="mobile">
                <a id="sidebtn">
                    <svg viewBox="0 0 100 80" width="30" height="30">
                        <rect x="10" y="10" width="75" height="10" rx="8"></rect>
                        <rect x="10" y="35" width="75" height="10" rx="8"></rect>
                        <rect x="10" y="60" width="75" height="10" rx="8"></rect>
                    </svg>
                </a>
                <a class="mlogo" href="/">OS211/irfancen</a>
            </div>
            <div class="content">
    		    {{ content }}
            </div>
	    </section>
    </div>
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
</body>
